.mDivN {
    background-color: gold;
    text-align: center;
    color: white;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.mDivN .iconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconDiv svg {
    animation: playBtn 1s ease;
}

@keyframes playBtn {
    from {}
    to {}
}

.mDivN p {
    opacity: 0;
    visibility: hidden;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}