.PlayerCssmDiv {
    display: flex;
    background: #ccc;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.videoDiv {
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.videoDiv:hover .VideoControls {
    transform: translateY(0%);
}

.PlayerCssvideoTag {
    width: 100%;
}

.VideoControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 4px;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: all 0.5s;
}

.buttons button {
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.playBtn {
    padding: 10%;
}

.playBtn svg {
    color: white;
}

.orangeBar {
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.orangeBarJuice {
    height: 100%;
    width: 0px;
    background-color: orangered;
}

.orangeBar {
    height: 5px;
    margin-bottom: 3px;
    transition: all;
    transition-duration: 0.5s;
}

.orangeBar:hover {
    height: 8px;
    margin-bottom: 2px;
}

#pause {
    display: none;
}

.videoDuration {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.videoDuration p {
    margin: 0px;
}

.psTenS,
.fullScreenDiv,
.speed,
.settingsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plusTemS,
.subTemS,
.muteDiv,
.fullScreenDiv,
.speed,
.settingsDiv {
    margin-right: 10px;
    cursor: pointer;
}

.plusTemS,
.subTemS,
.muteDiv,
.fullScreenDiv,
.speed,
.settingsDiv svg {
    color: white;
}

.muteDiv {
    margin-right: 0px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

#notMute:hover>.volume {
    opacity: 1;
    visibility: visible;
}

.volume {
    opacity: 0;
    visibility: hidden;
    margin: 0px 0px 0px 8px;
    width: 23px;
    height: 150px;
    position: absolute;
    bottom: 40px;
    border-radius: 5px;
    background-color: gold;
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-delay: 0.1s;
}

#netVol {
    transform: rotate(270deg);
    margin-left: -53px;
    margin-top: 65px;
    cursor: pointer;
}

.volumeIconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mute {
    display: none;
}

#ExitFullScreen {
    display: none;
}

.IconsColl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
}

#speedCur {
    background-color: gold;
    border-radius: 5px;
    padding: 1%;
    transition: all 0.3s;
}

#speedCur:hover {
    color: white;
    text-decoration: none;
}

.speed:hover>.speedDiv {
    opacity: 1;
    visibility: visible;
}

.speedDiv {
    /* opacity: 0;
    visibility: hidden; */
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 1%;
    background-color: white;
    color: black;
    width: 410px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.speedDiv p {
    margin: 10px 0px;
    transition: all 0.3s;
    cursor: pointer;
}

.speedDiv p::selection {
    background: none;
}

.speedDiv p:hover {
    /* text-decoration: underline; */
    color: gold;
}

.settingsDiv:hover>.MoreSettings {
    opacity: 1;
    visibility: visible;
}

.MoreSettings {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 60px;
    background-color: white;
    color: black;
    border-radius: 5px;
}